.html-editor-background{
    -fx-opacity: 0.5;
    -fx-background-color: #1d1d1d;
}

.html-editor .button, .html-editor .toggle-button
{
    -fx-background-color: #1d1d1d; 
}

.html-editor .combo-box .list-cell, .html-editor .combo-box{
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-text-fill: white;
}

.html-editor .combo-box-popup .list-view{
    -fx-background-color: derive(#1d1d1d, 30%);
}

.html-editor .combo-box-popup .list-view .list-cell{
    -fx-background-color: derive(#1d1d1d, 30%);
}

.html-editor .combo-box-popup .list-view .list-cell:filled:selected,
.html-editor .combo-box-popup .list-view .list-cell:filled:selected:hover,
.html-editor .combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: derive(#1d1d1d, 40%);
}

.html-editor .color-picker{
    -fx-background-color: derive(#1d1d1d,30%);
}


