.root * {
    -fx-font-family: "Segoe UI Light";
}

.root{
    -fx-background-color: #1d1d1d;
}

.background {
    -fx-background-color: #1d1d1d;
}

.label{
    -fx-font-size: 11;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-bar, .menu, .menu-item {
    -fx-background-color: derive(#1d1d1d, 10%);
}

.menu-item:hover, .menu:hover{
    -fx-background-color: derive(#1d1d1d, 20%);
}

.menu-bar .label{
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.context-menu{
    -fx-background-color: derive(#1d1d1d, 10%);
}

.menu .left-container{
    -fx-background-color: black;
}

.button{
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color:#1d1d1d;
    -fx-text-fill: #d8d8d8;
    
}

.button:hover{
    -fx-background-color: #3a3a3a;
}

.button:pressed {
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
}

.button:focused{
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 0;
    -fx-border-insets: 1 1 1 1;
}

.button:disabled{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.text-field{
    -fx-control-inner-background: derive(#1d1d1d, 20%);
}

.tool-bar{
    -fx-background-color: derive(#1d1d1d, 0%);
}