.table-view{
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler{
    -fx-background-color: transparent;
    -fx-size: 35;
    -fx-border-width: 0 0 0 0.5;
    -fx-border-color: 
        transparent
        transparent
        transparent
        derive(white, 50%);
    -fx-border-insets: 1;
    -fx-padding: 0 0 0 10;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:selected{
    -fx-background-color: -fx-focus-color;
}

.context-menu{
    -fx-background-color: derive(#1d1d1d, 50%);
}

.background {
    -fx-background-color: #1d1d1d;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected{
    -fx-background-color: derive(#1d1d1d, 50%);
}

.list-cell:filled:hover{
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell:odd{
    -fx-cell-hover-color: derive(#1d1d1d, 15%);
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell:even{
    fx-cell-hover-color: derive(#1d1d1d, 5%);
    -fx-background-color: derive(#1d1d1d, 10%);
}